* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 50px;
    margin-top: 15px;
}

.logo {
    margin-left: -50px;
}

/* ----header---- */
.hero-sect {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    width: 100%;
    position: relative;
}

.slap {
    font-family: 'Poppins', sans-serif;
    width: 400px;
    position: absolute;
    left: 160px;
    bottom: -290px;
}

.box-right {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid green; */
    position: absolute;
    left: 700px;
}

.about {
    /* border: 2px solid black; */
    animation-name: pop;
    margin-left: 200px;
}

.wrk {
    /* border: 2px solid green; */
    margin-left: 200px;
}
 .hlp {
    /* border: 2px solid black; */
    margin-left: 200px;
 }

.hrx {
    position: relative;
}

.eng {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid green; */
    position: absolute;
    width: 250px;
    left: 200px;
    color: white;
}

.abt {
    /* border: 2px solid red; */
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 70px;
    left: 600px;
}


.text {
    /* border: 2px solid white; */
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 700px;
    left: -260px;
}

.fa-arrow-down {
    animation-name: jump;
    animation-timing-function: .1s;
    animation-delay: 2s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes jump {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(30%);
    }
}

.wk {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid white; */
    position: absolute;
    bottom: -120px;
    left: 600px;
}

.Register {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    position: relative;
    text-align: center;
}

.join {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    position: absolute;
    width: 700px;
    left: -300px;
}

form.act {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-content {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.form-content .content-top {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 5rem;
    /* flex-direction: column; */

}

.content-bottom {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 8rem;
}

.content-center {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 7rem;
}

.agree {
    display: flex;
    gap: 1.5rem;
}

.nb {
    /* border: 2px solid black; */
    background-color: #2929c79d;
    padding: 10px 24px;
    border-radius: 5px;
}

.nd {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
}

.prj {
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid black; */
    position: absolute;
    bottom: -500px;
    left: 550px;
    border-width: 10px;
}

.ig2 {
    /* border: 2px solid black; */
    width: 70%;
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 8rem;
    left: -420px;
    border-bottom: 50px;
    bottom: -200px;
}

.call {
    font-family: 'Poppins', sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: white;
    position: absolute;
    /* border: 2px solid black; */
    bottom: -850px;
    left: 550px;
    border-bottom: 50px;
}

.sms {
    display: flex;
    /* border: 2px solid black; */
    gap: 25rem;
    color: black;
    position: absolute;
    left: -530px;
}

.what {
    /* border: 2px solid black; */
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: green;
    color: #fff;
}
.gle {
    /* border: 2px solid     black; */
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background-color: red;
    color: rgba(245, 245, 8, 0.795);
}

.tik {
    border: 2px solid black;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: black;
    color: #fff;
}

.you {
    /* border: 2px solid green; */
    width: 38px;
    height: 38px;
    /* border-radius: 50%; */
    background-color: red;
    color: #fff;
}
